.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2019/08/07/09/12/flowers-4390337_1280.jpg);
}
.top-section {
  word-wrap: break-word;
}
.container {
  background-color: white;
  opacity: 0.7;
  border-radius: 25px;
  padding: 20px;
  margin: 0px auto;
}
.col-sm-4, .col-sm-6, .col-sm-12 {
  margin-bottom: 15px;
}
.container {
  margin-bottom: 55px;
}
.navbar {
  margin-bottom: 35px;
}
